<div class="container">
    <h1>Tus Fincas</h1>
  
    <div class="finca-wrapper">
      <div class="finca-card" *ngFor="let finca of fincas">
        <img [src]="finca.imagenUrl" alt="Imagen Finca" class="finca-img" />
        
        <div class="finca-info">
          <h2>{{ finca.nombre }} - {{ finca.municipio }} / {{ finca.departamento }}</h2>
          <p>{{ finca.descripcion }}</p>
          <div class="botones">
            <button (click)="editarFinca(finca.id)">Editar</button>
            <button (click)="verDetalle(finca.id)">Detalle</button>
          </div>
        </div>
      </div>
    </div>
  
    <button class="btn-anadir" (click)="anadirFinca()">Añadir</button>
  </div>
  